__pycache__
images
train.txt
train
test.txt
test
checkpoint
img
map.py
face-classification
debug
config.py
config2.py
out.txt
model.*
lbpcascade_animeface.xml
result*
face.py
make-img.sh
debug*
miss.html
