__pycache__
train.txt
train
test.txt
test
valid.txt
valid
img
backup
backup2
best-model
checkpoint
map.py
debug*
config.py
config2.py
out.txt
model.*
haarcascade_frontalface_default.xml
lbpcascade_animeface.xml
result*
miss.html
test.py
inference2.py
search-result.txt