__pycache__
train.txt
train
test.txt
test
img
backup
best-model
checkpoint
map.py
debug*
config.py
config2.py
out.txt
model.*
haarcascade_frontalface_default.xml
lbpcascade_animeface.xml
result*
miss.html
