import math
NUM_CLASSES = 20
IMAGE_SIZE = 64
NUM_RGB_CHANNEL = 3

conv2dList = [ ("conv1", 18, 32),
               ("pool1", 3, None),
               ("conv2", 5, 32),
               ("pool2", 3, None),
               ("conv3", 5, 64),
               ("pool3", 3, None) ]

FC_CHANNEL = 1536
WSCALE=math.sqrt(2.0/NUM_CLASSES)
